@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: transparent url("/assets/images/mobile/fixed_bg.png") no-repeat;
  background-size: cover;
  font-family: "Assistant", sans-serif;
}

.title {
  color: #3a61a0;
  font-size: 24px;
  text-align: center;
  margin: 30px 0;
}

/* BUTTON GRUOP */
.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #9a9b9c;
  margin: auto;
  border-radius: 20px;
  width: 85%;
  background-color: white;
  text-align: center;
}
.btn-group.plan {
  font-size: 12px;
  margin-top: 1rem;
}
.btn-group.plan button {
  flex: 1;
  font-weight: normal;
  color: black;
}
.btn-group button {
  all: unset;
  text-align: center;
  width: 126px;
  height: 34px;
  color: #9a9b9c;
  font-weight: bold;
}
.btn-group button.selected {
  background-color: #3a61a0;
  border-radius: 20px;
  transform: scale(1.1);
  color: white;
}

/* TERMS */
.terms {
  width: 80%;
  margin: auto;
  margin: 1rem auto;
  height: 159px;
  background: white 0% 0% no-repeat padding-box;
  opacity: 0.8;
  font-size: 0.8rem;
  color: #9a9b9c;
}
.terms input {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.terms h2 {
  color: #45516d;
  display: inline;
  font-weight: normal;
  font-size: 1.2rem;
}
.terms p {
  margin-top: 0.5rem;
}
.terms p span {
  color: #3a61a0;
}

/* PLAN SHOWCASE */
.plan-showcase {
  width: 100%;
  background: url("../assets/images/mobile/leaves_left.png") -60% 0%, url("../assets/images/mobile/leaves_right.png") 140% 0%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plan-showcase .price {
  font-size: 48px;
  font-weight: bold;
  color: #3a61a0;
}
.plan-showcase > div {
  font-weight: bold;
}
.plan-showcase > div.retail-price span {
  color: #e66349;
  text-decoration: line-through;
}
.plan-showcase > div.instant-savings span {
  color: #7fb457;
  text-decoration: line-through;
}
.plan-showcase .cta {
  all: unset;
  width: 80%;
  margin: auto;
  background-color: #7fb457;
  color: white;
  border-radius: 20px;
  font-size: 2rem;
  padding: 0.25rem 1rem;
  text-align: center;
  background-color: #7fb457;
  margin-top: 0.5rem;
  font-weight: bold;
}
.plan-showcase .cta:disabled {
  background-color: #9a9b9c;
}
.plan-showcase .best-seller {
  position: relative;
}
.plan-showcase .best-seller svg {
  position: absolute;
  left: 2rem;
}

/* footer */
footer {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
footer .icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
footer p.first-p {
  color: #7fb457;
  font-weight: bold;
  margin-top: 1rem;
}
footer small {
  color: #9a9b9c;
  margin-top: 1rem;
}