@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-attachment: fixed !important;

}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: transparent url('/assets/images/mobile/fixed_bg.png') no-repeat;
  background-size: cover;

  // top: -51px;
  // left: 0px;
  // width: 375px;
  // height: 1149px;
  font-family: 'Assistant', sans-serif;
}

.title {
  color: $color-blue;
  font-size: 24px;
  text-align: center;
  margin: 30px 0;
}

/* BUTTON GRUOP */

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $color-grey;
  margin: auto;
  border-radius: 20px;
  width: 85%;
  background-color: white;
  text-align: center;

  // second button gruop (plan)
  &.plan {
    font-size: 12px;
    margin-top: 1rem;
    & button {
      flex: 1;
      font-weight: normal;
      color: black;
    }
  }

  & button {
    all: unset;
    text-align: center;
    width: 126px;
    height: 34px;
    color: $color-grey;
    font-weight: bold;

    &.selected {
      background-color: $color-blue;
      border-radius: 20px;
      transform: scale(1.1);
      color: white;
    }
  }
}
/* TERMS */
.terms {
  @include container-sm;
  position: relative;
  margin: 1rem auto;
  height: 159px;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.5rem 1.2rem;
  color: $color-grey;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -1;
  }
  input {
    width: 20px;
    height: 20px;
    margin-right: 3px;
  }
  & h2 {
    color: #45516d;
    display: inline;
    font-weight: normal;
    font-size: 1.2rem;
  }
  p {
    margin-top: 0.5rem;
    span {
      color: $color-blue;
    }
  }
}

/* PLAN SHOWCASE */
.plan-showcase {
  width: 100%;
  background: url('../assets/images/mobile/leaves_left.png') -60% 0%,
    url('../assets/images/mobile/leaves_right.png') 140% 0%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .price {
    font-size: 48px;
    font-weight: bold;
    color: $color-blue;
  }

  & > div {
    font-weight: bold;

    &.retail-price span {
      color: $color-red;
      text-decoration: line-through;
    }

    &.instant-savings span {
      color: $color-green;
      text-decoration: line-through;
    }
  }
  .cta {
    all: unset;
    @include container-sm;
    background-color: $color-green;
    color: white;
    border-radius: 20px;
    font-size: 2rem;
    padding: 0.25rem 1rem;
    text-align: center;
    background-color: $color-green;
    margin-top: 0.5rem;
    font-weight: bold;

    &:disabled {
      background-color: $color-grey;
    }
  }

  .best-seller {
    position: relative;
    svg {
      position: absolute;
      left: 2rem;
    }
  }
}

/* footer */

footer {
  @include container-sm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 1.5rem;

  .icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  p.first-p {
    color: $color-green;
    font-weight: bold;
    margin-top: 1rem;
  }

  small {
    color: $color-grey;
    margin-top: 1rem;
  }
}
